POSTGRES_USER=
POSTGRES_PASSWORD=
JWT_SECRET=

AUTH_SERVICE_URL=http://auth-service:4001/
INVENTORY_SERVICE_URL=http://inventory-service:4002/
REWARDS_SERVICE_URL=http://rewards-service:4003/
PROFILE_SERVICE_URL=http://profile-service:4007/
CATALOG_SERVICE_URL=http://catalog-service:4005/
SETTLEMENT_SERVICE_URL=http://settlement-service:4006/
ORDER_SERVICE_URL=http://order-service:4008/

AUTH_SERVICE_SPRING_DATASOURCE_URL=jdbc:postgresql://auth-pgpool:5432/db
INVENTORY_SERVICE_SPRING_DATASOURCE_URL=jdbc:postgresql://inventory-pgpool:5432/inventory_db
CATALOG_SERVICE_SPRING_DATASOURCE_URL=jdbc:postgresql://catalog-pgpool:5432/catalog_db
REWARDS_SERVICE_SPRING_DATASOURCE_URL=jdbc:postgresql://rewards-pgpool:5432/rewards_db
PROFILE_SERVICE_SPRING_DATASOURCE_URL=jdbc:postgresql://profile-pgpool:5432/profile_db
SETTLEMENT_SERVICE_SPRING_DATASOURCE_URL=jdbc:postgresql://settlement-service-db:5432/settlement_db
ORDER_SERVICE_SPRING_DATASOURCE_URL=jdbc:postgresql://order-service-db:5432/order_db

MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=