POSTGRES_USER=admin
POSTGRES_PASSWORD=1234
JWT_SECRET=U3ByaW5nU2VjdXJpdHlKV1RTZWNyZXRLZXkxMjM0NTY=
AUTH_SERVICE_URL=http://auth-service:4001
INVENTORY_SERVICE_URL=http://inventory-service:4002
REWARDS_SERVICE_URL=http://rewards-service:4003
PROFILE_SERVICE_URL=http://profile-service:4007
CATALOG_SERVICE_URL=http://catalog-service:4005
AUTH_SERVICE_SPRING_DATASOURCE_URL=jdbc:postgresql://auth-service-db:5432/db
INVENTORY_SERVICE_SPRING_DATASOURCE_URL=jdbc:postgresql://inventory-service-db:5432/inventory_db
CATALOG_SERVICE_SPRING_DATASOURCE_URL=jdbc:postgresql://catalog-service-db:5432/catalog_db
REWARDS_SERVICE_SPRING_DATASOURCE_URL=jdbc:postgresql://rewards-service-db:5432/rewards_db
PROFILE_SERVICE_SPRING_DATASOURCE_URL=jdbc:postgresql://profile-service-db:5432/profile_db
MONGO_INITDB_ROOT_USERNAME=a
MONGO_INITDB_ROOT_PASSWORD=b